@import 'core/_variables.scss';
@import 'componentes/_header.scss';
@import 'componentes/_hero.scss';
@import 'componentes/_article-w.scss';
@import 'componentes/_article-r.scss';
@import 'componentes/_footer.scss';

.page{

  margin:0;
  padding:0;


}
.page__main{
  margin:0;
  padding:0;
}

.page__wrapper{

  margin:0 15px;
}
