<article class="main__article-window">
  <div class="page__wrapper">
    <h3 class="articlew__special-title">insomnia tips</h3>
    <h4 class="articlew__title">looking through a window</h4>
    <p class="articlew__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
      semper sodales rutrum.</p>
    <a class=articlew__go-link>go</a></div>
</article>

<article class="main__article-reasons">
  <div class="page__wrapper">
    <h4 class="articler__title">
      3 reasons to purchase
    </h4>
    <ul>
      <li>
        <div>
          <h5>Ut sed metus</h5>
          <p>Lorem ipsum dolor sit amet, consecteur.</p>
      <li>
        <div>
          <h5>Curabitur ac erat</h5>
          <p>Mauris mattis urna quis lorem molestie.</p>
      <li>
        <div>
          <h5>Morbi dictum</h5>
          <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </li>
    </ul>
    <button>More reasons</button>
  </div>
</article>
