<article class="main__article-window">
  <div class="page__wrapper">
    <h3 class="articlew__special-title"><span id="first-article"></span>insomnia tips</h3>
    <h4 class="articlew__title">looking through a window</h4>
    <p class="articlew__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
      semper sodales rutrum.</p>
    <div class="articlew__golink-container"><a class=articlew__go-link href="">go</a></div>
</article>

<article class="main__article-reasons">
  <div class="page__wrapper">
    <h4 class="articler__title">
      3 reasons to purchase
    </h4>
    <ul class="article__reasons-container">
      <li class="article__reasons-item">
        <div class="article__item-container">
          <h5 class="article__reasons-title">Ut sed metus</h5>
          <p class="article__reasons-text">Lorem ipsum dolor sit amet, consecteur.</p>
      <li class="article__reasons-item">
        <div class="article__item-container">
          <h5 class="article__reasons-title">Curabitur ac erat</h5>
          <p class="article__reasons-text">Mauris mattis urna quis lorem molestie.</p>
      <li class="article__reasons-item">
        <div class="article__item-container">
          <h5 class="article__reasons-title">Morbi dictum</h5>
          <p class="article__reasons-text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </li>
    </ul>
    <button class="article__more-button">More reasons</button>
  </div>
</article>
