<footer class="page__footer">
  <div class="footer__icon-container">
    <a class="footer__scrollup-link" href=#first-article>
      <img class="footer__scrollup-icon" src="assets/images/ico-arrow.svg" alt="enlace al contenido prinicipal"
        alt="icono para acceder a contenido principal"></img>
    </a>
  </div>
  <div class="page__wrapper">
    <div class="footer__flex-container">
      <nav class="footer__menu">
        <ul class="footer__menu-containter">
          <li class="footer__menu-item"><a>articles</a></li>
          <li class="footer__menu-item"><a>books</a></li>
          <li class="footer__menu-item"><a>events</a></li>
          <li class="footer__menu-item"><a>reasons</a></li>
          <li class="footer__menu-item"><a>tips</a></li>
        </ul>
      </nav>
      <div class=footer__social-links>
        <ul class="footer__social-container">
          <li class="footer__social-item"><a>twitter</a></li>
          <li class="footer__social-item"><a>instagram</a></li>
          <li class="footer__social-item"><a>mastodon.social</a></li>
      </div>
      <div class=footer__small-elements>
        <div class=footer__small-year>©2017</div>
        <div class=footer__small-slogan>we<span class="color-heart"> ❤︎ </span>components</div>
      </div>
    </div>
  </div>
</footer>
