<main class="page__main">
  <div class="main__hero">
    <h1 class="hero__title">
      anonymous proxy
    </h1>
    <h2 class="hero__subtitle">
      In hac habitasse platea dictumst.
    </h2>
    <div class="hero__arrow">
      <a>
        <i class="hero__scrolldown-icon" src="assets/icons/ico-scroll-down.svg" href=""
          alt="icono para acceder a contenido principal"></i>
      </a>
    </div>
  </div>

  <article class="main__article1">
    <div class="page__rapper">
      <h3 class="article1__special-title">insomnia tips</h3>
      <h4 class="article1__title">looking through a window</h4>
      <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
        semper sodales rutrum.</p>
      <a>go</a>
    </div>
  </article>

  <article class="main__article2">
    <div class="page__rapper">
      <h4 class="article2__title">
          3 reasons to purchase
      </h4>
      <ul>
        <li>
          <div>
            <h5>Ut sed metus</h5>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        <li>
          <div>
            <h5>Curabitur ac erat</h5>
            <p>Mauris mattis urna quis lorem molestie.</p>
        <li>
          <div>
            <h5>Morbi dictum</h5>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </div>
        </li>
      </ul>
      <button>More reasons</button>
    </div>
  </article>
</main>
