<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>evaluacion final clara dios</title>
  <link rel="icon" href="favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
</body>
</html>
