/*article window*/

.main__article-window{
  background-color:white;
  padding-bottom:45px;

}

.articlew__special-title{
  color:#8ccbea;
  font-size:14px;
  margin-top:30px;
  font-weight:normal;
  text-transform:capitalize;
}

.articlew__title{
  font-size:24px;
  text-transform:capitalize;
  margin:0;
  margin-bottom:15px;
}
.articlew__paragraph{
color:#4a4a4a;
font-size:18px;
margin-bottom:45px;
}

.articlew__golink-container{

}
.articlew__go-link{
  color:#f26002;
  background-color:white;
  border:2px solid #f26002;
  border-radius:22px;
  padding:10px 25px;
  text-transform:capitalize;
  font-size:20px;

}

/*article reasons*/

.main__article-reasons{
  background-color:#eff9ff;
  padding-top:30px;
  text-align:center;
}
.articler__title{
  font-size:24px;
  margin-bottom:45px;
  margin-top:30px;
}
.article__reasons-container{
  list-style:none;
  text-align:center;
  margin:0;
  padding:0;
}
.article__item-container{
  margin-bottom:45px;
  margin:0 auto;
  width:180px;

}
.article__reasons-title{
  font-size:18px;
  margin:0;
  margin-top:22;
}
.article__reasons-text{
  font-size:18px;
  margin:0;
}

.article__more-button{
  border: none;
  font: inherit;
  color:white;
  background-color:#f26002;
  border-radius:22px;
  padding:10px 25px;
  text-transform:capitalize;
  font-size:20px;
  margin:45px 0;
    :hover{
      cursor:pointer;
     }
}

