/*article window*/

.main__article-window{
  background-color:white;

}

.articlew__special-title{
  color:#8ccbea;
  font-size:14px;
  margin-top:30px;
  font-weight:normal;
  text-transform:capitalize;
}

.articlew__title{
  font-size:24px;
  text-transform:capitalize;
  margin:0;
  margin-bottom:15px;
}
.articlew__paragraph{
color:#4a4a4a;
font-size:18px;
}

.articlew__go-link{
  color: orange;
  background-color:white;
  border:2px solid orange;
  border-radius:22px;
  padding:10px 25px;
  text-transform:capitalize;
  font-size:20px;
}

/*article reasons*/

.main__article-reasons{
  background-color:#eff9ff;
  text-align:center;
}


