/*article window*/
#first-article{
  transform:translateY(-500px)
}

.main__article-window{
  background-color:$color-white;
  padding-bottom:45px;

}

.articlew__special-title{
  color:$color-lightblue;
  font-family:$font-text;
  font-size:14px;
  margin-top:30px;
  font-weight:normal;
  text-transform:capitalize;
}

.articlew__title{
  color:$color-black;
  font-family:$font-title;
  font-size:24px;
  text-transform:capitalize;
  margin:0;
  margin-bottom:15px;
}
.articlew__paragraph{
color:$color-greyish-brown;
font-family:$font-text;
font-size:18px;
margin-bottom:45px;
}

.articlew__golink-container{

}
.articlew__go-link{
  color:$color-brightorange;
  background-color:$color-white;
  font-family:$font-text;
  border:2px solid $color-brightorange;
  border-radius:22px;
  padding:10px 25px;
  text-decoration:none;
  text-transform:capitalize;
  font-size:20px;
  font-weight:800px;
  &:hover{
    cursor:pointer;
   }

}

/*article reasons*/

.main__article-reasons{
  background-color:$color-iceblue;
  padding-top:30px;
  text-align:center;
}
.articler__title{
  color:$color-black;
  font-family:$font-title;
  font-size:24px;
  margin-bottom:45px;
  margin-top:30px;
}
.article__reasons-container{
  list-style:none;
  text-align:center;
  margin:0;
  padding:0;
}
.article__reasons-item{
  margin-bottom:45px;
}
.article__item-container{
  margin:0 auto;
  width:180px;

}
.article__reasons-title{
  font-family:$font-title;
  color:$color-black;
  font-size:18px;
  margin:0;
  margin-top:22;
}
.article__reasons-text{
  color:$color-black;
  font-family:$font-text;
  font-size:18px;
  margin:0;
}
.article__more-button{
  border: none;
  font-family:$font-text;
  color:$color-white;
  background-color:$color-brightorange;
  border-radius:22px;
  padding:10px 25px;
  text-transform:capitalize;
  font-size:20px;
  margin-bottom:60px;
    &:hover{
      cursor:pointer;
     }
}


